# Configuración del Entorno de Nodos Lightning y Bitcoin
# Copia este archivo como .env y ajusta los valores a tus necesidades.

# Red a utilizar (ej: testnet4, mainnet, signet)
NETWORK=testnet4

# Binario de LNCLI
LNCLI_BIN=lncli-debug

# Binario de Bitcoin CLI
BITCOIN_CLI_BIN=bitcoin-cli
